
.error-label {
    -fx-font-size: 11px;
    -fx-text-fill: #ee0707;
}

.app-title-label {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.app-headline-label {
    -fx-font-style: italic;
    -fx-text-fill: darkgray;
}

.jdk-tag-latest {
    -fx-border-color: blue;
    -fx-border-radius: 10px;
    -fx-spacing: 5;
    -fx-padding-right: 5;
    -fx-padding-left: 5;
    -fx-background-radius: 10px;
    -fx-background-color: lightblue;
    -fx-alignment: center;
}